<!doctype html>
<html>

  <head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <title>Traffic estimation by PAs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="static/js/dbf.js"></script>
    <script src="static/js/shp.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 75%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="http://127.0.0.1:5000/">Traffic estimation by PAs<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5000/site_search">Traffic estimation by coordinates</a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="map"></div>
    <form>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Prediction files select</label>
        <select class="form-control" id="exampleFormControlSelect1">
        </select>
      </div>
    </form>

    <h3 id ="table_title">Top 20 PA</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Ranking</th>
          <th scope="col">PA ID</th>
          <th scope="col">Traffic gain (MB)</th>
        </tr>
      </thead>
      <tbody id="ranking_table_body">
      </tbody>
    </table>
    <a id = "download_link" href="#"><button type="button" class="btn btn-primary">Download</button></a>
    <script src="static/js/PAEval.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhOLvp3wK1Y0FP3joJi1_7JwlA7_Wc29U&callback=initMap" async defer></script>
  </body>
</html>